@font-face {
	font-family: "Exo2-Bold";
	src: url("../fonts/Exo2-Bold_0.ttf") format("truetype");
}
@font-face {
	font-family: "Exo2-Regular";
	src: url("../fonts/Exo2-Regular_0.ttf") format("truetype");
}